.dateSearch-container{
    border: 1px solid darkgray;
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;

}

.dateSearch-container span{
    display: inline-block;
    margin-bottom: 15px;
}